<div class="container">
  <footer class="collor-footer ">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-4">
          <ul class="nav flex-column">
            <li class="nav-link"><a href="https://www.linkedin.com/in/felippe-ferraz-137079221/" target="_blank">LinkedIn</a></li>
            <li class="nav-link"><a href="https://github.com/FelippeFerraz" target="_blank">GitHub</a></li>
            <li class="nav-link"><a href="https://www.instagram.com/felippe.ferraz/" target="_blank">Instagran</a></li>
          </ul>
        </div>
        <div class="col-8">
          <p>
            Aplicação desenvolvida por: Felippe Ferraz.
          </p>
          <ul class="nav">
            <li class="nav-link"><i class="fab fa-facebook fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-instagram fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-twitter fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-whatsapp fa-3x"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center" style="background-color:#f1f1f1; padding: 20px">
      Production Ferraz company 2023
    </div>
  </footer>
</div>
